<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Chart in html con dati presi da view Django </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

    <script type="text/javascript">
        
        
        $(document).ready(function (ff){
            console.log("pronti alla get");
        

    
    $("#button").click(function(){
        // capire come estrapolo dal click sul calendario l'informazione circa quale giorno ho cliccato 
        
        var amg = {
            anno: '2019',
            mese: '10',
            giorno: '22'
        }; 
  
        //var jsonAMG = JSON.stringify(amg); 
        var datoStr = "anno=" + amg.anno + "&mese=" + amg.mese + "&giorno=" + amg.giorno + ""; 
        
        //console.log(jsonAMG); 

        // GRAFICO EROGAZIONI/PASSAGGI
        
        $.ajax({
            type: 'GET',
            //url: "http://192.168.1.105:8000/dispenser/giorno/",  // non a /giorno ma alla view che interpreta i dati e mi permette di disegnare il grafico lato html
            //url: "http://192.168.1.105:8000/dispenser/dati/", 
            url: "http://172.18.187.182:8000/dispenser/erog/",
            data: datoStr,
            success: function(data){
                console.log("dati ricevuti"); 
                console.log(data); 
                
         
                // grafico 
                var chart = Highcharts.chart('container', {
                    chart: {
                        type: 'column', // column
                        
//                        events: {
//                            load: function () {
//                                var series0 = this.series[0]; // erogazioni automatiche
//                                var series1 = this.series[1]; // erogazioni utente
//                                
//                                var lastId = $('#oggi tr:last').find('#id').html(); 
//                                console.log(lastId); 
//                                var lastDate = $('#oggi tr:last').find('#date').html(); 
//                                console.log(lastDate); 
//                                var lastErog = $('#oggi tr:last').find('#erogation').html(); 
//                                console.log(lastErog); 
//                                var lastUser = $('#oggi tr:last').find('#userMod').html(); 
//                                console.log(lastUser); 
//                                var lastTime = $('#oggi tr:last').find('#timeMod').html(); 
//                                console.log(lastTime); 
//                                
//                                if((typeof lastDate === 'undefined' && typeof lastErog === 'undefined' && typeof lastUser === 'undefined' && typeof lastTime === 'undefined') ||(lastId != data['id'])){
//                                    // se i dati precedenti sono undefined, ovvero non esistono (es: primo dato della giornata)
//                                    // oppure i dati precedenti sono diversi dai dati appena ricevuti
//                                    // allora li renderizzo
//
//                                    console.log("i dati sono undefined o sono diversi a quelli precedenti");
//
//                                    $('#oggi tr:last').after("<tr id='last_insert'>" + "<td id='id'>" + data['id'] + "</td>" + "<td id='date'>" + ' ' + data['date'] + "</td>" +
//                                    "<td id='erogation'>" + data['erogation'] + "</td>" + "<td id='userMod'>" + data['userMod'] + "</td>" +
//                                    "<td id='timeMod'>" + data['timeMod'] + "</td>" + "</tr>"); // riguardare
//                                    
//                                    if(data['erogation'] == 1){
//                                        if(data['userMod'] == true){ // erogazione utente
//                                            series1.addPoint([1], true); 
//                                        }
//                                        else{ // erogazione automatica
//                                            series0.addPoint([0,1], true); 
//                                        }
//                                    }
//                                    
//                                }
//
//                                else{
//                                    console.log("dati già stampati");
//                                }
//                                
//                              
//                                
//                                 POLLING 
//                                
//                                setInterval(function () {  
//                                    console.log("aggiornamento");
//                                     // confronto il contenuto delle variabili "vecchie" con i dati in arrivo e se sono diversi (o undefined) allora li aggiungo 
//                                    
//                                    if((typeof lastDate === 'undefined' && typeof lastErog === 'undefined' && typeof lastUser === 'undefined' && typeof lastTime === 'undefined') ||(lastId != data['id'])){
//                                    // se i dati precedenti sono undefined, ovvero non esistono (es: primo dato della giornata)
//                                    // oppure i dati precedenti sono diversi dai dati appena ricevuti
//                                    // allora li renderizzo
//
//                                    console.log("i dati sono undefined o sono diversi a quelli precedenti");
//
//                                    $('#oggi tr:last').after("<tr id='last_insert'>" + "<td id='id'>" + data['id'] + "</td>" + "<td id='date'>" + ' ' + data['date'] + "</td>" +
//                                    "<td id='erogation'>" + data['erogation'] + "</td>" + "<td id='userMod'>" + data['userMod'] + "</td>" +
//                                    "<td id='timeMod'>" + data['timeMod'] + "</td>" + "</tr>"); // riguardare
//                                    
//                                    if(data['erogation'] == 1){
//                                        if(data['userMod'] == true){ // erogazione utente
//                                            series1.addPoint([0,1], true); 
//                                        }
//                                        else{ // erogazione automatica
//                                            series0.addPoint([0,1], true); 
//                                        }
//                                    }
//                                    
//                                }
//
//                                else{
//                                    console.log("dati già stampati");
//                                }
//        
//                                        
//                                }, 1000);
//                                
//                                
//                                
//                            }
//                        } // chiude events 
                    
                    },
                    title: {
                        text: 'Erogazioni 22 Ottobre 2019'
                    },
                    
                    // sistemare xAxis

                    xAxis: {
                        categories: [data[0]]
                    },

                    series: [{
                        name: 'Erogazioni',
                        color: '#ff00ff',
                        data: [data[1]],
                             
                    }
                             
                    , {
                        name: 'No erogazioni',
                        color: '#00bfff',
                        data: [data[2]],
                          
                   }
                    ],



                            }); // chiude il chart 
            } // chiude success
            
        }) // chiude ajax 
    
    
    
}); // chiude click
            
            
            
            $('#button1').click(function(){
                var amg = {
                    anno: '2019',
                    mese: '10',
                    giorno: '22'
                }; 
                
                var datoStr = "anno=" + amg.anno + "&mese=" + amg.mese + "&giorno=" + amg.giorno + ""; 
                        
                
                // GRAFICO EROGAZIONI AUTOMATICHE/UTENTE 
        
        $.ajax({
            type: 'GET',
            //url: "http://192.168.1.105:8000/dispenser/giorno/",  // non a /giorno ma alla view che interpreta i dati e mi permette di disegnare il grafico lato html
            //url: "http://192.168.1.105:8000/dispenser/dati/", 
            url: "http://172.18.187.182:8000/dispenser/dati/",
            data: datoStr,
            success: function(data){
                console.log("dati ricevuti"); 
                console.log(data); 
                
         
                // grafico 
                var chart = Highcharts.chart('container1', {  // se metto container -- quando clicco sparisce l'altro grafico e compare quello per cui ho cliccato 
                    chart: {
                        type: 'column', // column
                    
                    },
                    
                    title: {
                        text: 'Erogazioni 22 Ottobre 2019'
                    },
                    
                    // sistemare xAxis

                    xAxis: {
                        categories: [data[0]]
                    },

                    series: [{
                        name: 'Erogazioni automatiche',
                        color: '#ff0000',
                        data: [data[1]],
                             
                    }
                             
                    , {
                        name: 'Erogazioni utente',
                        color: '#3cb371',
                        data: [data[2]],
                          
                   }
                    ],



                            }); // chiude il chart 
            } // chiude success
            
        }) // chiude ajax 
            }); 
            
      
        
         $('#button2').click(function(){
                var amg = {
                    anno: '2019',
                    mese: '10',
                    giorno: '22'
                }; 
                
                var datoStr = "anno=" + amg.anno + "&mese=" + amg.mese + "&giorno=" + amg.giorno + ""; 
                        
                
                // GRAFICO EROGAZIONI GIORNO/NOTTE 
        
        $.ajax({
            type: 'GET',
            //url: "http://192.168.1.105:8000/dispenser/giorno/",  // non a /giorno ma alla view che interpreta i dati e mi permette di disegnare il grafico lato html
            //url: "http://192.168.1.105:8000/dispenser/dati/", 
            url: "http://172.18.187.182:8000/dispenser/erogGN/",
            data: datoStr,
            success: function(data){
                console.log("dati ricevuti"); 
                console.log(data); 
                
         
                // grafico 
                var chart = Highcharts.chart('container2', {  // se metto container -- quando clicco sparisce l'altro grafico e compare quello per cui ho cliccato 
                    chart: {
                        type: 'column', // column
                    
                    },
                    
                    title: {
                        text: 'Erogazioni 22 Ottobre 2019'
                    },
                    
                    // sistemare xAxis

                    xAxis: {
                        categories: [data[0]]
                    },

                    series: [{
                        name: 'Erogazioni modalità giorno',
                        color: '#ffd700',
                        data: [data[1]],
                             
                    }
                             
                    , {
                        name: 'Erogazioni modalità notte',
                        color: '#4169e1',
                        data: [data[2]],
                          
                   }
                    ],



                            }); // chiude il chart 
            } // chiude success
            
        }) // chiude ajax 
            });
            
        

        });
        
    </script>

</head>


<body>
    <div id="container"></div> 
    <div id="container1"></div>
    <div id="container2"></div>
    
    <button id="button"> Erogazioni </button>
    <button id="button1"> Erogazioni automatiche/utente </button>
    <button id="button2"> Erogazioni giorno/notte </button>
     
    <table id="oggi">
        <tr id="prova">
            <th>Id</th>
            <th>Data</th>
            <th>Erogation</th>
            <th>UserMode</th>
            <th>TimeMode</th>
        </tr>

        {% for riga in righe %}
        <tr id="old">

            <td id="id"> {{riga.id}} </td>
            <td id="date"> {{riga.date}} </td>
            <td id="erogation"> {{riga.erogation}} </td>
            <td id="userMod"> {{riga.userMod}} </td>
            <td id="timeMod"> {{riga.timeMod}} </td>


        </tr>
        {% endfor %}

    </table>

</body>
</html>
