{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Today's data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <script src="https://code.highcharts.com/highcharts.src.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'Progetto/css/style.css' %}" media="screen"/>
     <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'Progetto/favicon.ico/favicon-96x96.png' %}"/> 

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{% static 'Progetto/js/main_get_post.js' %}"></script>

    <script type="text/javascript">
        
        $(document).ready(function (){
            var ip = '192.168.1.67'; //172.20.10.2, localhost, 192.168.1.67

            // formatta data in ingresso

            function formatDate(date){
                var mesi = ['Gen.', 'Feb.', 'Mar.', 'Apr.', 'May.', 'Jun.', 'Jul.', 'Aug.', 'Sep.', 'Oct.', 'Nov.', 'Dec.'];
                var i = 0;

                while(i < mesi.length){
                    if(date.getMonth() == i){
                        var month = mesi[i];
                    }
                    i++;

                }

                var hours = date.getHours();
                var minutes = date.getMinutes();
                var ampm = hours >= 12 ? 'p.m.' : 'a.m.';

                hours = hours % 12;
                hours = hours ? hours : 12;
                minutes = minutes < 10 ?  '0' + minutes : minutes;
                var strTime = month + ' ' + date.getDate() + ', ' + date.getFullYear() + ', ' + hours + ':' + minutes + ' ' + ampm;
                return strTime;
            }




            // Grafico

            var chart = Highcharts.chart('container', {
                chart: {
                    type: 'column', // column
                    borderColor: 'cornflowerblue',
                    borderRadius: 20, // per riquadro tondeggiante 
                    borderWidth: 2,
                    backgroundColor: 'rgb(238, 255, 255)',

                    events: {
                        load: function () {
                            setInterval(function () {
                                console.log("aggiornamento");

                                $.ajax({
                                    type: 'GET',
                                    url: "http://" + ip + ":8000/dispenser/giorno/",

                                    success: function(data){
                                        console.log("dati ricevuti");


                                        var series0 = chart.series[0]; // erogazioni

                                        var series1 = chart.series[1]; // no erogazioni


                                        /* controllo la tabella che attualmente e' visibile */


                                        var displayTab1 = $('#p1').css("display"); // se style contiene piu' proprieta' rivedere 
                                        console.log("TAB 1: " + displayTab1); 


                                        //var displayTab2 = $('#p2').attr('style');
                                        var displayTab2 = $('#p2').css('display');
                                        console.log("TAB 2: " + displayTab2); 

                                        var tab; // variabile che associo alla tabella attualmente visibile 

                                        if(displayTab1 == 'block'){
                                           console.log("La tabella con CINQUE righe e' attualmente visibile"); 

                                            var lastId = $('#old').find('#id').html(); 
                                            console.log("ID: " + lastId);

                                            var lastDate = $('#old').find('#date').html();
                                            console.log(lastDate);

                                            var lastErog = $('#old').find('#erogation').html();
                                            console.log(lastErog);

                                            tab = 1; 



                                        }
                                        else{
                                            console.log("La tabella con TUTTE le righe e' attualmente visibile");

                                            var lastId = $('#old2').find('#id').html();  // last
                                            console.log("ID: " + lastId);

                                            var lastDate = $('#old2').find('#date').html();
                                            console.log(lastDate);

                                            var lastErog = $('#old2').find('#erogation').html();
                                            console.log(lastErog);

                                            tab = 2; 

                                        }


                                        if(typeof(data) === 'string'){ // se nn ci sono dati
                                            pippo('cont');

                                        }

                                        else{
                                            pippo3('cont'); // tolgo alert

                                            pippo('p0');

                                            pippo('oggi');

                                            pippo('tasto');
                                            pippo('container');



                                            var d = new Date(data['date']);


                                            var formatData = formatDate(d);
                                            console.log("DATA: " + formatData);



                                            var e = data['erogation'].toString();
                                            var E = e.substr(0,1).toUpperCase() + e.substr(1); // trasformo true/false in True/False
                                            console.log("E: " + E);



                                             /* separiamo i casi */

                                             if((typeof lastId === 'undefined' && typeof lastDate === 'undefined' && typeof lastErog === 'undefined') || (lastId != data['id'])){
                                                 console.log("CASO 1: tipi undefined"); 


                                                 if(tab == 1){ // se la tabella con 5 righe e' attualmente viibile --> aggiungo in testa il nuovo dato in arrivo 
                                                     $('#prova').after("<tr id='old'>" + "<td id='id' style='display:none'>" + data['id'] + "</td>" + "<td id='date'>" + formatData + "</td>" +
                                                    "<td id='erogation'>" + E + "</td>" + "</tr>");  // ho messo l'id dell'elemento della tabella cosi' non ho problemi per la selezione 
                                                 }
                                                 else{ // tab == 2
                                                     $('#prova2').after("<tr id='old2'>" + "<td id='id' style='display:none'>" + data['id'] + "</td>" + "<td id='date'>" + formatData + "</td>" +
                                                    "<td id='erogation'>" + E + "</td>" + "</tr>");  // ho messo l'id dell'elemento della tabella cosi' non ho problemi per la selezione 
                                                 }



                                                if(data['erogation'] == true){

                                                    series0.setData([series0.yData[0] + 1]);
                                                }

                                                else{ // no erogazioni

                                                    series1.setData([series1.yData[0] + 1]);
                                                }
                                             }


                                            else {  
                                                console.log("CASO 3: i dati sono gia' stati stampati");


                                            }


                                        } // chiude l'else di controllo sui dati



                                    } // chiude success

                                }); // chiude ajax



                            }, 1000);


                        }  // chiude load
                    }, // chiude events

                }, // chiude chart


                title: {
                    text: ''
                },

                credits: {
                    enabled: false  // disabilito la scitta Highcharts.com
                },


                xAxis: {
                    accessibility: {
                        description: '' + {{Giorno|safe}} + ''
                    },
                    categories: ["Today"] 
                },

                series: [{
                    name: 'Disbursements',
                    color: '#ff00ff',
                    data: [{{erog}}],
                    accessibility: {
                        description: "This is the number of erogations for today"
                    }

                }, 
                {
                    name: 'No Disbursements',
                    color: '#00bfff',
                    data: [{{noErog}}],
                    accessibility: {
                        description: "This is the number of passages without erogation for today"
                    }


                }

                ],






            });
            
            
        });
   
</script>

   
    
    


</head>


<body style="background-color: #bbdefb">
<div class="container-fluid">
<nav class="navbar navbar-light" style="background-color:#eeffff">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar" style="color: black" >
                <span class="icon-bar" style="background-color:#8aacc8"></span>
                <span class="icon-bar"style="background-color: #8aacc8"></span>
                <span class="icon-bar"style="background-color: #8aacc8"></span>
            </button>
            <a href="#" class="navbar-brand" style="color: black">Food Dispenser</a>
        </div>

        <div class="collapse navbar-collapse" id="mainNavBar" style="text-align: center" >

            <ul class="nav navbar-nav">
                
                <li ><a href='http://192.168.1.67:8000'style="color: black; text-align: center" title="Home">Home</a></li>

                
<!--                <li ><a href='http://172.20.10.2:8000'style="color: black; text-align: center">Home</a></li>-->
                
                
                <li ><a href='#'style="color: black; text-align: center" onclick="dataAvailableS()" title="Last Week">Last Week</a></li>
                <li ><a href='#'style="color: black; text-align: center" onclick="dataAvailableM()" title="Last Month">Last Month</a></li>
                    


            </ul>
        </div>
    </div>
</nav>
</div>


<h1 style=" text-align: center; color:cornflowerblue">Today's data </h1>
<p class="lead" style="margin-left: 5px;">In this page we can see all the informations about about the use of the dispenser on the current day </p>
<p class="lead" id="tit" style="margin-left: 5px;"> If you want to erogate food press the following button:
    <button id="on" type="button" onclick="attivaServo()" class="btn btn-default"> Erogation </button></p>
<p class="text-center" style="font-style: oblique; font-weight: bold; font-size: medium; color: #eeffff; padding-left: 5px;"> Please remember that you can only deliver food through the button once every hour</p>



<!--   grafico e tabella -->

<div id="cont"class="container"style="display: none">
    <div class="row justify-content-md-center">
        <div class="col align-self-center">
            <div  class="text-center">
                <div class="alert alert-info" role="alert">
                    <h4 class="alert-heading">Attention!</h4>
                    <p style="font-size: large; font-style: italic; font-weight: bold">There are no data yet!</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div id ="p0" class="container" style="display: none">
<div class="row justify-content-md-center">
    <div class="col align-self-center">
        <div id="container" style="display: none"></div>
    </div>
</div>


<div id ="p1" class="container-fluid" style="display: block">
    <div id="row" class="row justify-content-md-center" style="margin-top: 20px">
        <div class="col align-self-center"> <!-- colonna centrale-->
            <table id="oggi" class="table table-hover table-bordered-costum"> <!-- style="display: none" -->
                <thead>
                <tr id="prova" style="background-color: #eeffff">

                    {# <th>Id</th>#}
                    <th style="font-weight: bold; color: cornflowerblue">Data</th>
                    <th style="font-weight: bold; color: cornflowerblue">Erogation</th>
                    {#<th>UserMode</th>#}
                    {# <th>TimeMode</th>#}
                </tr>

                <tbody style="border-bottom-color: white">
                {% for riga in righe %}
                    <tr id="old">
                        <td id="id" style="display: none">{{riga.id}} </td>
                        <td id="date">{{riga.date}} </td>
                        <td id="erogation">{{riga.erogation}} </td>
                        {#<td id="userMod">{{riga.userMod}} </td>#}
                        {#<td id="timeMod">{{riga.timeMod}} </td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
</div>


<div id ="p2" class="container" style="display: none; margin-top: 50px;"> <!-- mostro tt le righe -->
    <div id="row" class="row justify-content-md-center">
        <div class="col align-self-center"> <!-- colonna centrale-->
            <table id="oggi2" class="table table-hover table-bordered-costum"> <!-- style="display: none" -->
                <thead>
                <tr id="prova2" style="background-color: #eeffff">
                    {#<th>Id</th>#}
                    <th style="font-weight: bold; color: cornflowerblue">Data</th>
                    <th style="font-weight: bold; color: cornflowerblue">Erogation</th>
                    {#<th>UserMode</th>#}
                    {#<th>TimeMode</th>#}
                </tr>
                </thead>

                <tbody>
                {% for riga in Righe %}
                    <tr id="old2">
                        <td id="id" style="display: none">{{riga.id}} </td>
                        <td id="date">{{riga.date}} </td>
                        <td id="erogation">{{riga.erogation}} </td>
                        {#<td id="userMod">{{riga.userMod}} </td>#}
                        {#<td id="timeMod">{{riga.timeMod}} </td>#}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


<div class="container-fluid">
    <button id="tasto" type= "button" class="btn btn-link" style="color: cornflowerblue; margin-left: 45%; display: none;" onclick="pippo2('p1','p2')">Show the table</button>
</div>

</body>

</html>
