<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Get to the ESP8266</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    

    <script type="text/javascript" >

        $(document).ready(function (){
            console.log("pronti alla get");

            //var INDIRIZZO_IP = "192.168.1.105"; // indirizzo IP del computer
            //var urlHome = "http://192.168.1.105:8000/dispenser/";

            // Casa Chiara
            var DEVICE_IP = '192.168.1.128'; // indirizzo IP della scheda ESP8266
            var url = "http://192.168.1.105:8000/dispenser/sensor/";

            // MICC
            //var DEVICE_IP = '192.168.1.134';
            //var url = "http://INDIRIZZO_IP:8000/dispenser/client/";

            // HUAWEI P30 lite -- 192.168.43.37
            //var DEVICE_IP = '192.168.43.128';
            //var url = "http://192.168.43.37:8000/dispenser/client/";

            var data = {
                erogation : 0, // no erogazione
                userMod : 0, // modalita' automatica
                timeMod : 1, // modalita' giorno
            };


            var dataJson = JSON.stringify(data); // converto l'oggetto JS in una stringa JSON

            function success(d){
                $(d).css({border:"3px solid orange"});
            }

            // RIGUARDARE 
            
            function attivaServo(){ 
                console.log("click sul bottone 'Ruota il servo'");
                var requestUrl = "http://" + DEVICE_IP + "/servoOpen";
                $.get(requestUrl, function(){
                    alert("sto facendo una get all'ESP8266");
                    var buttonON = $("#on");
                    data.erogation = 1; // erogazione effettuata
                    data.userMod = 1; // modalita' utente
                    dataJson = JSON.stringify(data);
                    //$.post(url, dataJson, success(buttonON));

                    // prova richiesta ajax 1
<!--                    $.ajax({-->
<!--                        url: url,  -->
<!--                        type: 'POST',-->
<!--                        data: dataJson,-->
<!--                        dataType: 'json',-->

<!--                        success: function(){-->
<!--                            console.log("sto facendo una richiesta ajax al server django");-->
<!--                            $("#stampa").html("Il servo ha ruotato");-->
<!--                        },-->
<!--                        error: function(request, error){-->
<!--                            alert("Request: " + JSON.stringify(request));-->
<!--                        }-->
<!--                    });-->



                });

            }
                    
                    var oggi = new Date(); 
                    console.log("Oggi e': " + oggi); 
                    
                    function mostraDatiOggi(){
                        var amg = {
                            anno: oggi.getFullYear(),
                            mese: oggi.getMonth(),
                            giorno: oggi.getDate(),
                        };
                        
                        console.log(amg); 
                        
                        //var jsonAMG = JSON.stringify(amg); 
                        var datoStr = "anno=" + amg.anno + "&mese=" + amg.mese + "&giorno=" + amg.giorno + ""; 
                        console.log(datoStr); 
                        
                        // chiamata ajax 
                        
                        $.ajax({
                            type: 'GET',
                            url: "http://192.168.1.105:8000/dispenser/giorno/",
                            //url: "http://127.0.0.1:8000/dispenser/giorno/",
                            //url: "http://172.18.187.182:8000/dispenser/giorno/",
                            data: datoStr,
                            success: function(data){
                                console.log("dati ricevuti"); 
                                console.log(typeof(data)); 
                                
                                // gestire il caso in cui i dati non ci siano
                                
//                                if(data == "Non ci sono erogazioni per il giorno corrente"){
//                                    $('#container').hide();
//                                    $('#oggi').hide();
//                                    $('#no_erog').html(data).css({color:'red'}); 
//                                }
//                                
//                                else{
//                                    $('#no_erog').hide(); 
//                                    $('#container').show();
//                                    $('#oggi').show();
                                    
                                // grafico 
                                var chart = Highcharts.chart('container', {
                                    chart: {
                                        type: 'column', // column
                                        events: {
                                            load: function () {
                                                
                                                if(typeof(data) === 'string'){
                                                    $('#no_erog').html(data).css({color:'red'}); 
                                                    $('#container').hide();
                                                    $('#oggi').hide();
                                                }
                                                
                                                else{
                                                    $('#no_erog').hide();
                                                    $('#container').show();
                                                    $('#oggi').show();
                                                    
                                                    
                                                    var series0 = this.series[0]; // erogazioni 
                                                    var series1 = this.series[1]; // no erogazioni
                                                    
                                                    var lastId = $('#oggi tr:last').find('#id').html(); 
                                                    console.log(lastId); 
                                                    var lastDate = $('#oggi tr:last').find('#date').html(); 
                                                    console.log(lastDate); 
                                                    var lastErog = $('#oggi tr:last').find('#erogation').html(); 
                                                    console.log(lastErog); 
                                                    var lastUser = $('#oggi tr:last').find('#userMod').html(); 
                                                    console.log(lastUser); 
                                                    var lastTime = $('#oggi tr:last').find('#timeMod').html(); 
                                                    console.log(lastTime); 

                                                    if((typeof lastDate === 'undefined' && typeof lastErog === 'undefined' && typeof lastUser === 'undefined' && typeof lastTime === 'undefined') ||(lastId != data['id'])){
                                                        // se i dati precedenti sono undefined, ovvero non esistono (es: primo dato della giornata)
                                                        // oppure i dati precedenti sono diversi dai dati appena ricevuti
                                                        // allora li renderizzo

                                                        console.log("i dati sono undefined o sono diversi a quelli precedenti");

                                                        $('#oggi tr:last').after("<tr id='last_insert'>" + "<td id='id'>" + data['id'] + "</td>" + "<td id='date'>" + ' ' + data['date'] + "</td>" +
                                                        "<td id='erogation'>" + data['erogation'] + "</td>" + "<td id='userMod'>" + data['userMod'] + "</td>" +
                                                        "<td id='timeMod'>" + data['timeMod'] + "</td>" + "</tr>"); // riguardare

                                                        if(data['erogation'] == 1){
                                                            if(data['userMod'] == true){ // erogazione utente
                                                                series1.addPoint([0,1], true); 
                                                            }
                                                            else{ // erogazione automatica
                                                                series0.addPoint([0,1], true); 
                                                            }
                                                        }

                                                    }

                                                    else{
                                                        console.log("dati già stampati");
                                                    }
                                                    
                                                } // chiude l'else di controllo sul tipo dei dati 
                                                
                                                
                                                
                                                // POLLING

                                                setInterval(function () {
                                                    console.log("aggiornamento");
                                                    
                                                     //if typeof(data) !== undefined --> normal 
                                                     // altrimenti --> scomparire tabella e grafico
                                                    // stampare mess assenza roba 
                                                    if(typeof(data) === 'string'){
                                                        $('#no_erog').html(data).css({color:'red'}); 
                                                        $('#container').hide();
                                                        $('#oggi').hide();
                                                    }
                                                    
                                                    else{
                                                        $('#no_erog').hide();
                                                        $('#container').show();
                                                        $('#oggi').show();
                                                        
                                                        if((typeof lastDate === 'undefined' && typeof lastErog === 'undefined' && typeof lastUser === 'undefined' && typeof lastTime === 'undefined') ||(lastId != data['id'])){
                                                    
                                                            // se i dati precedenti sono undefined, ovvero non esistono (es: primo dato della giornata)
                                                    
                                                            // oppure i dati precedenti sono diversi dai dati appena ricevuti
                                                    
                                                            // allora li renderizzo

                                                    console.log("i dati sono undefined o sono diversi a quelli precedenti");

                                                    $('#oggi tr:last').after("<tr id='last_insert'>" + "<td id='id'>" + data['id'] + "</td>" + "<td id='date'>" + ' ' + data['date'] + "</td>" +
                                                    "<td id='erogation'>" + data['erogation'] + "</td>" + "<td id='userMod'>" + data['userMod'] + "</td>" +
                                                    "<td id='timeMod'>" + data['timeMod'] + "</td>" + "</tr>"); // riguardare

                                                    if(data['erogation'] == 1){
                                                        if(data['userMod'] == true){ // erogazione utente
                                                            series1.addPoint([0,1], true); 
                                                        }
                                                        else{ // erogazione automatica
                                                            series0.addPoint([0,1], true); 
                                                        }
                                                    }

                                                }

                                                else{
                                                    console.log("dati già stampati");
                                                }
                                                    } // chiude l'else di controllo sui dati 
                                                    
                                                    

                                                }, 1000);
                                                
                                            }  // chiude load 
                                        }
                                    },
                                    title: {
                                        text: 'Erogazioni giorno corrente' // concatenare la data (campi oggetto amg)
                                    },

                                    // sistemare xAxis

                //                    xAxis: {
                //                        type: 'datetime',
                //                        categories: orari
                //                    },

                                    series: [{
                                        name: 'Erogazioni',
                                        color: '#ff00ff',
                                        data: [],

                                    }

                                    , {
                                        name: 'No erogazioni',
                                        color: '#00bfff',
                                        data: [],

                                   }
                                    ],





                                            }); // chiude il chart 
                                    
                                    
                                    
                              //  }

                                
                            } // chiude success

                        }) // chiude ajax 

                        
                        
                    } // chiude mostraDatiOggi


            $("#on").click(attivaServo);
            $("#today").click(mostraDatiOggi);

        });


    </script>
    <!-- controllare con la cartella static -->

</head>

<body>

    <h1 id="tit"> Let's play with the servo </h1>

    <!-- parte da matchare con arduino -->
    <div id="arduino">

        <button id="on" type="button" class="btn btn-primary btn-lg "> Erogate food </button>

    </div>

    <div id="stampa"></div>
    
    <div id="giorno_corrente">

        <button id="today" type="button" class="btn btn-primary btn-lg "> Today </button>

    </div>
    
    <div id="no_erog"> </div>
    
<!--   grafico e tabella -->
    <div id="container"></div>
    
    <table id="oggi">
        <tr id="prova">
            <th>Id</th>
            <th>Data</th>
            <th>Erogation</th>
            <th>UserMode</th>
            <th>TimeMode</th>
        </tr>
        
        

        {% for riga in righe %}
        <tr id="old">

            <td id="id"> {{riga.id}} </td>
            <td id="date"> {{riga.date}} </td>
            <td id="erogation"> {{riga.erogation}} </td>
            <td id="userMod"> {{riga.userMod}} </td>
            <td id="timeMod"> {{riga.timeMod}} </td>


        </tr>
        {% endfor %}

    </table>
    
        
     <script type="text/javascript">
        
      //$(document).ready(function (){
        
         // grafico 
                var chart = Highcharts.chart('container', {
                    chart: {
                        type: 'column', // column
                        events: {
                            
                            load: function () {
                                console.log("dentro load");
                            
                            
//                            if(typeof(data) === 'string'){
//                                $('#no_erog').html(data).css({color:'red'}); 
//                                $('#container').hide();
//                                $('#oggi').hide();
//                            }
//                                                
//                            else{
//                                $('#no_erog').hide();
//                                $('#container').show();
//                                $('#oggi').show();
//                                                    
//                                                    
//                                var series0 = this.series[0]; // erogazioni automatiche
//                                var series1 = this.series[1]; // erogazioni utente
//
//                                var lastId = $('#oggi tr:last').find('#id').html(); 
//                                console.log(lastId); 
//                                var lastDate = $('#oggi tr:last').find('#date').html(); 
//                                console.log(lastDate); 
//                                var lastErog = $('#oggi tr:last').find('#erogation').html(); 
//                                console.log(lastErog); 
//                                var lastUser = $('#oggi tr:last').find('#userMod').html(); 
//                                console.log(lastUser); 
//                                var lastTime = $('#oggi tr:last').find('#timeMod').html(); 
//                                console.log(lastTime); 
//
//                                if((typeof lastDate === 'undefined' && typeof lastErog === 'undefined' && typeof lastUser === 'undefined' && typeof lastTime === 'undefined') ||(lastId != data['id'])){
//                                    // se i dati precedenti sono undefined, ovvero non esistono (es: primo dato della giornata)
//                                    // oppure i dati precedenti sono diversi dai dati appena ricevuti
//                                    // allora li renderizzo
//
//                                    console.log("i dati sono undefined o sono diversi a quelli precedenti");
//
//                                    $('#oggi tr:last').after("<tr id='last_insert'>" + "<td id='id'>" + data['id'] + "</td>" + "<td id='date'>" + ' ' + data['date'] + "</td>" +
//                                    "<td id='erogation'>" + data['erogation'] + "</td>" + "<td id='userMod'>" + data['userMod'] + "</td>" +
//                                    "<td id='timeMod'>" + data['timeMod'] + "</td>" + "</tr>"); // riguardare
//
//                                    if(data['erogation'] == 1){
//                                        if(data['userMod'] == true){ // erogazione utente
//                                            series1.addPoint([0,1], true); 
//                                        }
//                                        else{ // erogazione automatica
//                                            series0.addPoint([0,1], true); 
//                                        }
//                                    }
//
//                                }
//
//                                else{
//                                    console.log("dati già stampati");
//                                }
//
//                            } // chiude l'else di controllo sul tipo dei dati 



                            // POLLING

                            setInterval(function () {
                                console.log("aggiornamento");
                                
                                $.ajax({
                                    type: 'GET',
                                    url: "http://192.168.1.105:8000/dispenser/giorno/",
                                    //url: "http://127.0.0.1:8000/dispenser/giorno/",
                                    //url: "http://172.18.187.182:8000/dispenser/giorno/",
                            
                                    success: function(data){
                                        console.log("dati ricevuti"); 
                                        console.log(typeof(data)); 
                                        
                                        var series0 = chart.series[0]; // erogazioni 
                                        console.log(series0.yData); 
                                        var series1 = chart.series[1]; // no erogazioni

                                        var lastId = $('#oggi tr:last').find('#id').html(); 
                                        console.log(lastId); 
                                        var lastDate = $('#oggi tr:last').find('#date').html(); 
                                        console.log(lastDate); 
                                        var lastErog = $('#oggi tr:last').find('#erogation').html(); 
                                        console.log(lastErog); 
                                        var lastUser = $('#oggi tr:last').find('#userMod').html(); 
                                        console.log(lastUser); 
                                        var lastTime = $('#oggi tr:last').find('#timeMod').html(); 
                                        console.log(lastTime); 
                                        
                                        
                                        if(typeof(data) === 'string'){
                                            $('#no_erog').html(data).css({color:'red'}); 
                                            $('#container').hide();
                                            $('#oggi').hide();
                                        }

                                        else{
                                            $('#no_erog').hide();
                                            $('#container').show();
                                            $('#oggi').show();
                                            
                                            
                                            if((typeof lastDate === 'undefined' && typeof lastErog === 'undefined' && typeof lastUser === 'undefined' && typeof lastTime === 'undefined') ||(lastId != data['id'])){

                                        // se i dati precedenti sono undefined, ovvero non esistono (es: primo dato della giornata)

                                        // oppure i dati precedenti sono diversi dai dati appena ricevuti

                                        // allora li renderizzo
                                                console.log("i dati sono undefined o sono diversi a quelli precedenti");

                                                $('#oggi tr:last').after("<tr id='last_insert'>" + "<td id='id'>" + data['id'] + "</td>" + "<td id='date'>" + ' ' + data['date'] + "</td>" +
                                                "<td id='erogation'>" + data['erogation'] + "</td>" + "<td id='userMod'>" + data['userMod'] + "</td>" +
                                                "<td id='timeMod'>" + data['timeMod'] + "</td>" + "</tr>"); // riguardare

                                                if(data['erogation'] == true){
                                                    //series0.addPoint([0, 1], true);
                                                   
                                                    series0.setData([series0.yData[0] + 1]);
                                              
                                                }
                                                    
                                                else{ // no erogazioni 
                                                    //series1.addPoint([0,1], true); 
                                                
                                                    series1.setData([series1.yData[0] + 1]);
                                                }
                                            }

                                            
                                            else{
                                                console.log("dati già stampati");
                                            }
                                            
                                        } // chiude l'else di controllo sui dati 

                                        
                                        
                                    } // chiude success 
                                
                                }); // chiude ajax



                            }, 1000);
                            
                            
                        }  // chiude load 
                    }, // chiude events

                    }, // chiude chart 
                    
                    
                    title: {
                        text: 'Erogazioni di oggi'
                    },
                    
                    // sistemare xAxis

//                    xAxis: {
//                        categories: [data[0]]
//                    },

                    series: [{
                        name: 'Erogazioni',
                        color: '#ff00ff',
                        data: [{{erog}}],
                        
                    }
                             
                    , {
                        name: 'No erogazioni',
                        color: '#00bfff',
                        data: [{{noErog}}],
                        
                          
                   }
                    ],
                    





                }); 
   
         
        
         
         
         
         
      //});
    
    
    </script>

</body>

</html>
