<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Get con ajax </title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    
    <script type="text/javascript">

    $(document).ready(function (){
        alert("Ci siamo");
        console.log("pronti alla get");

        setInterval(function() { // Call a function repetatively with 2 Second interval
                    getData();
                }, 2000); //5000mSeconds update rate
        
        function getData(){

            $.ajax({
                type: "GET",

                url: "http://192.168.1.105:8000/dispenser/gajax/",
                //url: "http://172.22.36.134:8000/dispenser/gajax/",

                success: function(data){
                    console.log("dati ricevuti");
                    $('#messaggio').html(" ");


                    // prendo tutti i campi della tabella e li salvo in delle singole variabili -- sono gli ultimi dati stampati

                    var lastId = $('#last_insert').find('#id').html();
                    console.log(lastId);
                    var lastDate = $('#last_insert').find('#date').html();
                    console.log(lastDate);
                    var lastErog = $('#last_insert').find('#erogation').html();
                    console.log(lastErog);
                    var lastUser = $('#last_insert').find('#userMod').html();
                    console.log(lastUser);
                    var lastTime = $('#last_insert').find('#timeMod').html();
                    console.log(lastTime);

                    if((typeof lastDate === 'undefined' && typeof lastErog === 'undefined' && typeof lastUser === 'undefined' && typeof lastTime === 'undefined') ||
                    (lastId != data['id'])){

                    // se i dati precedenti sono undefined, ovvero non esistono (es: primo dato della giornata)
                    // oppure i dati precedenti sono diversi dai dati appena ricevuti
                    // allora li renderizzo

                    console.log("i dati sono undefined o sono identici a quelli precedenti");

                    $('#old').after("<tr id='last_insert'>" + "<td id='id'>" + data['id'] + "</td>" + "<td id='date'>" + ' ' + data['date'] + "</td>" +
                    "<td id='erogation'>" + data['erogation'] + "</td>" + "<td id='userMod'>" + data['userMod'] + "</td>" +
                    "<td id='timeMod'>" + data['timeMod'] + "</td>" + "</tr>"); // riguardare

                    }

                    else{
                    console.log("dati già stampati");
                    $('#messaggio').html("Nessun dato aggiornato");
                    }

                },
                cache: false, // riguardare
            });
        }

     });





    
    </script>

</head>
    
<body>
<!--    <div id="render">-->
<!--        <table id="tabella">-->
<!--            <tr id="intestazione">-->
<!--                <th>Id</th>-->
<!--                <th>Data</th>-->
<!--                <th>Erogation</th>-->
<!--                <th>UserMode</th>-->
<!--                <th>TimeMode</th>-->
<!--            </tr>-->



<!--        </table>-->

<!--    </div>-->


    <table id="oggi">
        <tr id="prova">
            <th>Id</th>
            <th>Data</th>
            <th>Erogation</th>
            <th>UserMode</th>
            <th>TimeMode</th>
        </tr>

        {% for riga in righe %}
        <tr id="old">

            <td id="id"> {{riga.id}} </td>
            <td id="date"> {{riga.date}} </td>
            <td id="erogation"> {{riga.erogation}} </td>
            <td id="userMod"> {{riga.userMod}} </td>
            <td id="timeMod"> {{riga.timeMod}} </td>


        </tr>
        {% endfor %}

    </table>


    <ul>

    </ul>

    <div id="messaggio"> </div>



</body>
    
    
</html>
