{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title> Home page </title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">




<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'Progetto/css/index.css' %}" media="screen"/>
<!-- favicon -->
<link rel="shortcut icon" type="image/png" href="{% static 'Progetto/favicon.ico/favicon-96x96.png' %}"/> 


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
</script>
    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{% static 'Progetto/js/index.js' %}"></script>
    

</head>
    
    
<body style="background-color: #bbdefb">


<div class="container-fluid" >
<nav class="navbar navbar-light" style="background-color:#eeffff">
    <div class="container-fluid">
        <div class="navbar-header" >
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar" >
                <span class="icon-bar" style="background-color:#8aacc8"></span>
                <span class="icon-bar"style="background-color: #8aacc8"></span>
                <span class="icon-bar"style="background-color: #8aacc8"></span>
            </button>
            <a href="#" class="navbar-brand" title="Food Dispenser" style="color: black">Food Dispenser</a>
        </div>

        <div class="collapse navbar-collapse" id="mainNavBar" style="text-align: center; position: sticky" >

            <ul class="nav navbar-nav">

                <li><a href='http://localhost:8000/dispenser/client/' title="Today's data" style="color: black; text-align: center">Show today's data</a></li>
                
{#                <li><a href='http://192.168.1.67:8000/dispenser/client/' title="Today's data" style="color: black; text-align: center">Show today's data</a></li>#}

                
<!--                <li ><a href='http://172.20.10.2:8000/dispenser/client/' title="Today's data" style="color: black; text-align: center">Show today's data</a></li>-->
                
                
                <li> <a href="#" id="stat" style="color: black; text-align: center" title="Statistics" onclick="dataAvailable()">Statistics</a></li> 
                

            </ul>
        </div>
    </div>
    </nav>
</div>

<h1 style=" text-align: center; color:cornflowerblue" >Food Dispenser Application </h1>


<div class="text-center">

    <img id="img" src="{% static 'Progetto/Img/Tigre_resOK.png' %}" alt="immagine che mostra il dispositivo" class="rounded mx-auto d-block">
    
</div>


</body>
    
</html>
