<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Renderizzazione istogramma</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

</head>
<body>
    <div id="container"></div>
    
    <script type="text/javascript">
        
        // istogramma 
    var chart = Highcharts.chart('container', {  // se metto container -- quando clicco sparisce l'altro grafico e compare quello per cui ho cliccato
        chart: {
            type: 'spline',
            //type: 'line',
            
            //backgroundColor: 'peachpuff', // senza sfumatura, monocromo
            
            backgroundColor: {  // con sfumatura 
                linearGradient: [0, 0, 500, 500],
                stops: [
                    [0, 'rgb(255, 255, 255)'],
                    [1, 'rgb(200, 200, 255)']
                ]
            },
            
            borderColor: '#EBBA95',
            borderRadius: 20, // per riquadro tondeggiante 
            borderWidth: 4,
            
            
//            plotBackgroundColor: { // sfondo solo per la parte interna del grafico 
//                linearGradient: [0, 0, 500, 500],
//                stops: [
//                    [0, 'rgb(255, 255, 255)'],
//                    [1, 'rgb(200, 200, 255)']
//                ]
//            },
//            plotBackgroundImage: 'https://www.highcharts.com/samples/graphics/skies.jpg',


        },
        
        accessibility: {
            description: ''
        },
        
        tooltip: {
            // per fare scritte specifiche ... formatter: function(){}
            
//            formatter: function () {
//                return 'The value for <b>' + this.x + '</b> is <b>' + this.y + '</b>';
//            },
//            backgroundColor: '#FCFFC5',
//            borderColor: 'black',
//            borderRadius: 10,
//            borderWidth: 3,
            
            backgroundColor: {
            linearGradient: [0, 0, 0, 60],
            stops: [
                [0, '#FFFFFF'],
                [1, '#E0E0E0']
            ]
            },
            borderWidth: 1,
            borderColor: '#AAA',
            crosshairs: true,
            //shared:true, se avessi piu' linee
            
        },

        title: {
            text:'Andamento erogazioni tra il ' + {{inizio|safe}} + ' e il ' + {{fine|safe}} 
        },

        xAxis: {
            categories: {{arrayDate|safe}},
            // per formato date asse x 
            type: 'datetime',
            dateTimeLabelFormats: {
                day: '%e of %b'
            },
                                 
        },
        
        yAxis: {
            title: {
                text: 'Erogazioni'
            },
            gridLineColor: '#197F07', // per il colore delle righe
            gridLineDashStyle: 'longdash',  // per linee tratteggiate 
            //lineColor: '#FF0000',
            //lineWidth: 1
        },
        
        plotOptions: { //vedere 
                                 
//            line: {
//                dataLabels: {
//                    enabled: true
//                },
//                enableMouseTracking: false
//            }
              series: {
                    label: {
                        connectorAllowed: false
                    },
                    marker: {
                        symbol: 'diamond' // dimantini nei punti noti 
                    },
//                    marker: {
//               
//                        symbol: 'url(https://www.highcharts.com/samples/graphics/sun.png)'
//                    }
//              
            }
                                 
                                 
        },

        series: [{
            //name: 'Erogazioni',
            color: 'blue',
            data: {{arrayErog}},

        }

//            , {
//                name: 'Erogazioni utente',
//                color: '#3cb371',
//                data: [{{erogU}}],
//
//            }
        ],
                    
        // per spiegazione grafico 
        caption: {
        text: '<b>The caption renders in the bottom, and is part of the exported chart.</b><br><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</em>'
    }



    }); // chiude il chart

    
    
    
    </script>

</body>
</html>
