<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Statistics </title>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

    <script type="text/javascript">
        
        
        $(document).ready(function (){
            console.log("pronti alla get");
            
             // grafico erogazioni automatiche/utente
                var chart = Highcharts.chart('container1', {
                    chart: {
                        type: 'column', // column

                    },
                    title: {
                        text:''
                    },
                    
                    // sistemare xAxis

                    xAxis: {
                        categories: [({{inizio|safe}} + "/" + {{fine|safe}})]
                    },

                    series: [{
                        name: 'Erogazioni automatiche',
                        color: 'green',
                        data: [{{erogA}}],
                        
                    }
                             
                    , {
                        name: 'Erogazioni utente',
                        color: 'orange',
                        data: [{{erogU}}],
                        
                          
                   }
                    ],


                }); 
            
            
            // grafico erogazioni/no erogazioni
        
                var chart = Highcharts.chart('container', {
                    chart: {
                        type: 'column', // column
                    
                    },
                    title: {
                        text: ''
                    },
                    
                    // sistemare xAxis

                    xAxis: {
                        categories: [({{inizio|safe}} + "/" + {{fine|safe}})]
                    },

                    series: [{
                        name: 'Erogazioni',
                        color: '#ff00ff',
                        data: [{{erog}}],
                             
                    }
                             
                    , {
                        name: 'No erogazioni',
                        color: '#00bfff',
                        data: [{{noErog}}],
                          
                   }
                    ],



                            }); // chiude il chart 
        
        
        
        
        
         // grafico erogazioni giorno/notte 
                var chart = Highcharts.chart('container2', {  // se metto container -- quando clicco sparisce l'altro grafico e compare quello per cui ho cliccato 
                    chart: {
                        type: 'column', // column
                    
                    },
                    
                    title: {
                        text: ''
                    },
                    
                    // sistemare xAxis

                    xAxis: {
                        categories: [({{inizio|safe}} + "/" + {{fine|safe}})]
                    },

                    series: [{
                        name: 'Erogazioni modalità giorno',
                        color: '#ffd700',
                        data: [{{erogG}}],
                             
                    }
                             
                    , {
                        name: 'Erogazioni modalità notte',
                        color: '#4169e1',
                        data: [{{erogN}}],
                          
                   }
                    ],



                            }); // chiude il chart 
        


        
      
        

        });
    </script>
    <script language="JavaScript" type="text/javascript"> // per tasto che mostra tabella!

        function pippo(aDiv) {
        aDiv.style.display = aDiv.style.display == "block" ? "none" : "block";
        }
    </script>

    
</head>
<body>

    <a href="http://localhost:8000/" class="go-back" style="color: darksalmon">Home</a>

    <div class="text-center">
    <h1 style="color: darksalmon">Statistics of the period:  {{inizio|safe}}-{{fine|safe}}</h1>
    </div>




    <div class="row">
        <div class="container-fluid">
            <div class="col-sm-4" id="container"></div>
            <div class="col-sm-4" id="container1"></div>
            <div class="col-sm-4" id="container2"></div>
        </div>
    </div>

    <button type= "button" class="btn btn-link" style="color: darksalmon" onclick="pippo(document.getElementById('d1'))">Hide table</button>

     <div id="d1" class="row" style="display:block">
     <div class="col-sm-12">
         <table class="table table-hover" id="oggi">
            <thead>
                 <tr id="prova">
{#                     <th>Id</th>#}
                     <th>Data</th>
                     <th>Erogation</th>
                     <th>UserMode</th>
                     <th>TimeMode</th>
                 </tr>
                 <tbody>
                 {% for riga in righe %}
                     <tr id="old">
{#                         <td id="id"> {{riga.id}} </td>#}
                         <td id="date"> {{riga.date}} </td>
                         <td id="erogation"> {{riga.erogation}} </td>
                         <td id="userMod"> {{riga.userMod}} </td>
                         <td id="timeMod"> {{riga.timeMod}} </td>
                     </tr>
                 {% endfor %}
                 </tbody>
         </table>
     </div>
     </div>


</body>
</html>
