<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Grafico mese/settimana </title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>
    <script src="https://code.highcharts.com/highcharts.src.js"></script>

    <script type="text/javascript">
        
        
        $(document).ready(function (){
            console.log("pronti alla get");
        

    
       

    
    $("#button").click(function(){
        // dovro' generare due date --una del giorno corrente e una in modo da avere il giorno del mese precedente 
        // vedere tutte le condizioni 
        
        var amgI = {
            anno: '2019',
            mese: '8',
            giorno: '14'
        }; 
        
        var amgF = {
            anno: '2019',
            mese: '10',
            giorno: '22'
        }; 

         var datoStr = "annoI=" + amgI.anno + "&meseI=" + amgI.mese + "&giornoI=" + amgI.giorno + "&annoF=" + amgF.anno + "&meseF=" + amgF.mese + "&giornoF=" + amgF.giorno + ""; 


        
        // GRAFICO 
        
        $.ajax({
            type: 'GET',
            //url: "http://192.168.1.105:8000/dispenser/giorno/",  // non a /giorno ma alla view che interpreta i dati e mi permette di disegnare il grafico lato html
            url: "http://192.168.1.105:8000/dispenser/periodo/", 
            //url: "http://172.18.185.19:8000/dispenser/giorno/",
            data: datoStr,
            success: function(data){
                console.log("dati ricevuti"); 
                console.log(data); 
                
         
                // grafico 
                var chart = Highcharts.chart('container', {
                    chart: {
                        type: 'column', // column
                        
//                        events: {
//                            load: function () {
//                                var series0 = this.series[0]; // erogazioni automatiche
//                                var series1 = this.series[1]; // erogazioni utente
//                                
//                                var lastId = $('#oggi tr:last').find('#id').html(); 
//                                console.log(lastId); 
//                                var lastDate = $('#oggi tr:last').find('#date').html(); 
//                                console.log(lastDate); 
//                                var lastErog = $('#oggi tr:last').find('#erogation').html(); 
//                                console.log(lastErog); 
//                                var lastUser = $('#oggi tr:last').find('#userMod').html(); 
//                                console.log(lastUser); 
//                                var lastTime = $('#oggi tr:last').find('#timeMod').html(); 
//                                console.log(lastTime); 
//                                
//                                if((typeof lastDate === 'undefined' && typeof lastErog === 'undefined' && typeof lastUser === 'undefined' && typeof lastTime === 'undefined') ||(lastId != data['id'])){
//                                    // se i dati precedenti sono undefined, ovvero non esistono (es: primo dato della giornata)
//                                    // oppure i dati precedenti sono diversi dai dati appena ricevuti
//                                    // allora li renderizzo
//
//                                    console.log("i dati sono undefined o sono diversi a quelli precedenti");
//
//                                    $('#oggi tr:last').after("<tr id='last_insert'>" + "<td id='id'>" + data['id'] + "</td>" + "<td id='date'>" + ' ' + data['date'] + "</td>" +
//                                    "<td id='erogation'>" + data['erogation'] + "</td>" + "<td id='userMod'>" + data['userMod'] + "</td>" +
//                                    "<td id='timeMod'>" + data['timeMod'] + "</td>" + "</tr>"); // riguardare
//                                    
//                                    if(data['erogation'] == 1){
//                                        if(data['userMod'] == true){ // erogazione utente
//                                            series1.addPoint([1], true); 
//                                        }
//                                        else{ // erogazione automatica
//                                            series0.addPoint([0,1], true); 
//                                        }
//                                    }
//                                    
//                                }
//
//                                else{
//                                    console.log("dati già stampati");
//                                }
//                                
//                              
//                                

//                                
//                                
//                            }
//                        } // chiude events 
                    
                    },
                    title: {
                        text: 'Erogazioni 22 Ottobre 2019'
                    },
                    
                    // sistemare xAxis

//                    xAxis: {
//                        categories: [data[0]]
//                    },

                    series: [{
                        name: 'Erogazioni automatiche',
                        color: 'green',
                        data: [data[0]],
                        
                    }
                             
                    , {
                        name: 'Erogazioni utente',
                        color: 'orange',
                        data: [data[1]],
                        
                          
                   }
                    ],





                            }); // chiude il chart 
            } // chiude success
            
        })
    
    
    
}); // chiude click
         

  
        

        });
    </script>

    
</head>
<body>
    
    <div id="container"></div>
    <button id="button"> Render </button>

</body>
</html>
