{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title> Statistics </title>
<meta name ="author" content="Veronica Pecchioli">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">



    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'Progetto/css/style.css' %}" media="screen"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script src="https://code.highcharts.com/highcharts.src.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
    <script src="{% static 'Progetto/js/statistics.js' %}"></script>
    
    <!-- favicon -->
    <link rel="shortcut icon" type="image/png" href="{% static 'Progetto/favicon.ico/favicon-96x96.png' %}"/> 


    <script type="text/javascript">


        $(document).ready(function (){
            
            console.log("pronti alla get");
            
            
            /* PARTE PER DATE ISTOGRAMMA */

            // funzione che restiruisce false se il mese in ingresso non ha 30 giorni

            function daysForMonths(month){
                months30 = [4, 6, 9, 11];
                months31 = [1, 3, 5, 7, 8, 10, 12];
                var i = 0; 
                while(i < months30.length){
                    if(month == months30[i]){
                        console.log("Il mese ha 30 giorni !!");
                        return true; // il mese ha 30 giorni 
                    }
                    else{
                        i++; 
                    }
                }

                // il mese non ha 30 giorni  o ne ha 31 o e' febbraio 
                console.log("Il mese non ha 30 giorni !"); 
                return false; 

            }

            var start = new Date({{start|safe}});
            var end = new Date({{end|safe}});
            var arrayOfDays = [];

            console.log("START: " + start); 
            console.log("mese start: " + start.getMonth()); 
            console.log("END: " + end); 
            console.log("mese end: " + end.getMonth());

            // voglio recuperare la lista di giorni compresi nel periodo scelto 

            var count = start.getDate(); 
            var countXmonth = (start.getMonth() + 1)%13;
                console.log("count meseeee: ", countXmonth);
            var countXyear = start.getFullYear();
            var endMonth = (end.getMonth() + 1)%13;
                console.log("end meseeee: ", endMonth);


            if(count < 10){
                if(countXmonth < 10){
                    startString = "0" + count + "-0" + countXmonth + "-" + countXyear;
                }
                else{
                    startString = "0" + count + "-" + countXmonth + "-" + countXyear;
                }

            }
            else{

                if(countXmonth < 10){
                    startString = count + "-0" + countXmonth + "-" + countXyear;
                }
                else{
                    startString = count + "-" + countXmonth + "-" + countXyear;
                }
            }


            console.log("START STRING: ", startString);
            arrayOfDays.push(startString);

            while( (count <= end.getDate() - 1) || ((count > end.getDate() - 1) && (countXmonth != endMonth))){

                  if(countXmonth == endMonth){
                    count++; 
                  }

                  else if(countXmonth < endMonth || countXmonth > endMonth){  // (countMese == 12 && endMese == 1)
                      // verificare che tipo di mese e' -- se un mese che ha 30 giorni o 31 giorni 
                      if(daysForMonths(countXmonth) == true && count == 30){ // se il mese ha 30 giorni e il giorno in esame e' il 30
                          count = 1;
                          if(countXmonth == 11){
                              countXmonth = 12;
                          }
                          else{
                              countXmonth = (countXmonth + 1)%12; // endMese
                          }

                      }
                      else{
                          if(countXmonth == 2 && count == 28){
                              count = 1; 
                              countXmonth = (countXmonth + 1)%12;

                          }

                          else if(count == 31){ // il mese non ha 30 giorni e non e' febbraio --> ha 31 giorni 
                              count = 1;  
                              countXmonth = (countXmonth + 1)%12; // endMese
                              if(countXyear != end.getFullYear()){
                                  countXyear = end.getFullYear();

                              }
                          }
                          else{
                              count++; 

                          }

                      }
                  }


                  dataCount = new Date(countXyear, countXmonth, count);


                  if(count < 10){
                      if(countXmonth < 10){
                          dataCountString = "0" + count + "-0" + countXmonth + "-" + countXyear;
                      }
                      else{
                          dataCountString = "0" + count + "-" + countXmonth + "-" + countXyear;
                      }

                  }
                  else{
                      if(countXmonth < 10){
                          dataCountString = count + "-0" + countXmonth + "-" + countXyear;
                      }
                      else{
                          dataCountString = count + "-" + countXmonth + "-" + countXyear;
                      }
                  }



                  arrayOfDays.push(dataCountString);


            }



            console.log("ARRAY GIORNI: " , arrayOfDays); // costituisce l'asse x dell'istogramma

            var arrayY = []; 
            var i = 0;
            var j = 0; 
            var erogations = {{arrayErog}}; // se non ci sono dati mi da' errore per via del punto e virgola -- la pagina viene renderizzata in modo giusto con la scritta che mancano i dati pero' sarebbe meglio evitare questo errore
            var dateErog = {{arrayDate|safe}}; 
            console.log("EROGAZIONI: ", erogations);
            console.log("DATE EROGAZIONI: ", dateErog);
            console.log("DIM: ", arrayOfDays.length);


            while(i < arrayOfDays.length && j < dateErog.length){
                while(arrayOfDays[i] != dateErog[j]){
                    arrayY[i] = 0; 
                    i++; 
                }
                arrayY[i] = erogations[j];
                i++; 
                j++; 
            }

            console.log("I CON CUI ESCO DAL WHILE: ", i); 

            // aggiungo zero nelle restanti celle di arrayY
            for(var k = 0; k < (arrayOfDays.length - i); k++){
                arrayY[k + i] = 0; 
            }

            console.log("ARRAY PER ASSE Y: ", arrayY);



                // Grafico erogazioni automatiche/utente

                var chart = Highcharts.chart('container1', {
                    chart: {
                        type: 'column', // column
                        borderColor: 'cornflowerblue',
                        borderRadius: 20, // per riquadro tondeggiante 
                        borderWidth: 2,
                        backgroundColor: 'rgb(238, 255, 255)',

                    },
                    title: {
                        text:''
                    },

                    credits: {
                        enabled: false // disabilito la scritta Highcharts.com
                    },

                    // sistemare xAxis

                    xAxis: {
                        accessibility: {
                            description: 'Time between ' + {{Inizio|safe}} + ' and ' + {{Fine|safe}}
                        },
                        categories: [({{Inizio|safe}} + " to " + {{Fine|safe}})]
                    },

                    series: [{
                        name: 'Automatic dispensing',
                        color: 'green',
                        data: [{{erogA}}],
                        accessibility: {
                            description: 'This is the number of automatic erogations for the period selected',
                        }

                    }, 
                    {
                        name: 'User dispensing',
                        color: 'orange',
                        data: [{{erogU}}],
                        accessibility: {
                            description: "This is the number of user erogations for the period selected",
                        }


                    }
                    ],


                });


                // Grafico erogazioni/no erogazioni

                var chart = Highcharts.chart('container', {
                    chart: {
                        type: 'column', 
                        borderColor: 'cornflowerblue',
                        borderRadius: 20, // per riquadro tondeggiante 
                        borderWidth: 2,
                        backgroundColor: 'rgb(238, 255, 255)',


                    },
                    title: {
                        text: ''
                    },

                    credits: {
                        enabled: false
                    },

                    // sistemare xAxis

                    xAxis: {
                        accessibility: {
                            description: 'Time between ' + {{Inizio|safe}} + ' and ' + {{Fine|safe}}
                        },
                        categories: [({{Inizio|safe}} + " to " + {{Fine|safe}})]
                    },

                    series: [{
                        name: 'Disbursements',
                        color: '#ff00ff',
                        data: [{{erog}}],
                        accessibility: {
                             description: "This is the number of erogations for the period selected",
                        },

                    }, 
                    {
                        name: 'No disbursements',
                        color: '#00bfff',
                        data: [{{noErog}}],
                        accessibility: {
                            description: "This is the number of passages without erogation for the period selected",
                        },

                    }
                    ],



                }); // chiude il chart



                // Grafico erogazioni giorno/notte

                var chart = Highcharts.chart('container2', {  
                    chart: {
                        type: 'column', // column

                        borderColor: 'cornflowerblue',
                        borderRadius: 20, // per riquadro tondeggiante 
                        borderWidth: 2,
                        backgroundColor: 'rgb(238, 255, 255)',

                    },

                    title: {
                        text: ''
                    },

                    credits: {
                        enabled: false
                    },

                    // sistemare xAxis

                    xAxis: {
                        accessibility: {
                            description: 'Time between ' + {{Inizio|safe}} + ' and ' + {{Fine|safe}}
                        },
                        categories: [({{Inizio|safe}} + " to " + {{Fine|safe}})]
                    },

                    series: [{
                        name: 'Day mode dispensing',
                        color: '#ffd700',
                        data: [{{erogG}}],
                        accessibility: {
                             description: "This is the number of day's mode erogations for the period selected",
                        },

                    }, 
                    {
                        name: 'Night mode dispensing',
                        color: '#4169e1',
                        data: [{{erogN}}],
                        accessibility: {
                            description: "This is the number of night's mode erogations",
                        },

                    }
                    ],



                }); // chiude il chart


        // Istogramma 
        
        var chart = Highcharts.chart('container3', {  
            chart: {
                type: 'column',


                borderColor: 'cornflowerblue',
                borderRadius: 20, // per riquadro tondeggiante 
                borderWidth: 2,
                backgroundColor: 'rgb(238, 255, 255)',


            },

            title: {
                text:''
            },

            credits: {
                enabled: false
            },


            xAxis: {
                accessibility: {
                    description: 'Time between ' + {{Inizio|safe}} + ' and ' + {{Fine|safe}}
                },

                //categories: {{arrayDate|safe}},
                categories: arrayOfDays,

            },


            series: [{  // le quadre servono !
                name: 'Disbursements',
                color: 'blue',

                data: arrayY,
                accessibility: {
                    description: "This is the number of erogations for the period selected"
                },
                label: {
                    connectorAllowed: false
                },

            }],



        }); // chiude il chart


    });


    </script>



</head>



<body style="background-color: #bbdefb">

    <div class="container-fluid">
    <nav class="navbar navbar-light"style="background-color:#eeffff">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mainNavBar" style="color: black" >
                <span class="icon-bar" style="background-color:#8aacc8"></span>
                <span class="icon-bar"style="background-color: #8aacc8"></span>
                <span class="icon-bar"style="background-color: #8aacc8"></span>
            </button>
            <a href="#" class="navbar-brand" style="color: black">Food Dispenser</a>
        </div>

        <div class="collapse navbar-collapse" id="mainNavBar" style="text-align: center" >

            <ul class="nav navbar-nav">

                <li ><a href='http://localhost:8000'style="color: black; text-align: center" title="Home">Home</a></li>
                
{#                <li ><a href='http://192.168.1.67:8000'style="color: black; text-align: center" title="Home">Home</a></li>#}
                
                
{#                 <li ><a href='http://172.20.10.2:8000'style="color: black; text-align: center">Home</a></li>#}
        
                
                <li ><a href='#' id="lastWeek" style="color: black; text-align: center" onclick="dataAvailableW()" title="Last Week">Last Week</a></li>
                <li ><a href='#'style="color: black; text-align: center" onclick="dataAvailableM()" title="Last Month">Last Month</a></li>
                

                
                <li>
                    <nav class="navbar navbar-expand-lg has-megamenu">

                            <div class="menu-wrapper">
                              <ul class="nav navbar-nav">
                                <li class="nav-item dropdown megamenu">
                                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="false" style="color: black" title="Choose Period"><span>Choose period to show data</span></a>
                                  <div id="dpm" class="dropdown-menu" >
                                    <div class="row">
                                        <div class="container-fluid"></div>
                                      <div class="col-sm-12">
                                        <div class="link-list-wrapper">
                                          <ul class="link-list">
                                            <li><a class="list-item" href="#" title="Day"><span><button id="B1" type="button" class="btn btn-link" onclick="showForCalendar('t1','dpm','Alert2','t2')">Day </button> </span></a>
                                            </li>
                                              <li><a class="list-item" href="#" title="Period"><span><button id="B2" type="button" class="btn btn-link" onclick="showForCalendar('t2','dpm','Alert','t1')">Period </button></span></a>
                                              </li>
                                          </ul>
                                        </div>
                                        <div class="col-sm-12">
                                        <div class="link-list-wrapper">
                                          <ul class="link-list">
                                            <li style="display: none" id="t1"><a class="list-item" href="#" title="Insert a Date"><span><p style="color:black">Date:<input data-date-format="dd/mm/yyyy" id="datepickerI1"></p> </span></a>

                                                <div class="row" style="padding: 10px">
                                                    <div class="col-lg-12">
                                                   <div style="display: none" class="alert alert-info" id="Alert">No data available!</div>


                                                 </div>
                                                </div>
                                            </li>
                                            <li style="display: none" id="t2"><a class="list-item" href="#" title="Insert a Period"><span><p style="color:black">From:<input data-date-format="dd/mm/yyyy" id="datepickerI"> to: <input data-date-format="dd/mm/yyyy" id="datepickerF" disabled></p></span></a>
                                                <div class="row" style="padding: 10px">
                                                    <div class="col-lg-12">
                                                   <div style="display: none" class="alert alert-info" id="Alert2">No data available!</div>


                                                 </div>
                                                </div>
                                            </li>
                                          </ul>
                                        </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>

                    </nav>
                </li>





                      </ul>
                    </div>




    </div>
    </nav>
    </div>








<div class="container-fluid">
<h1 style= "color:cornflowerblue; text-align: center" >Statistics from: {{Inizio1}} to: {{Fine1}} </h1>
</div>

<div class="container-fluid">
<div class="row">
    
    <div class="col-sm-4" id="container"></div>
    <div class="col-sm-4" id="container1" style="min-height: 100%"></div>
    <div class="col-sm-4" id="container2"></div>
    
    <div class="col-sm-12" id="containerAlert" ><h1 style="color: cornflowerblue; padding-left: 200px">{{mess}}</h1></div>
    
    
</div>
    
<div class="row">
   
    
    <div class="col-sm-12" style="margin-top: 2%" ><div id="container3"></div></div> <!-- container istogramma-->
    
    
</div>
    
</div>






    <div class="container-fluid">

    <div id="d1" class="row" style="display:none; margin-top: 50px;">
        <div class="col-sm-12">
            <table id="oggi" class="table table-hover table-bordered-costum " >
                    <thead>
                    <tr id="prova" style="background-color: #eeffff">
{#                       <th>Id</th>#}
                        <th style="font-weight: bold; color: cornflowerblue">Data</th>
                        <th style="font-weight: bold; color: cornflowerblue">Erogation</th>
                      <th style="font-weight: bold; color: cornflowerblue">UserMode</th>
                        <th style="font-weight: bold; color: cornflowerblue">TimeMode</th>
                    </tr>

                    <tbody>
                    {% for riga in righe %}
                        <tr id="old">
{#                           <td id="id">{{riga.id}} </td>#}
                            <td id="date">{{riga.date}} </td>
                            <td id="erogation">{{riga.erogation}} </td>
                          <td id="userMod">{{riga.userMod}} </td>
                            <td id="timeMod">{{riga.timeMod}} </td>
                        </tr>
                    {% endfor %}
                    </tbody>
            </table>
        </div>
        </div>

    </div>

<div class="text-center">
    <button type= "button" class="btn btn-link" style="color: cornflowerblue" onclick="show('d1')">Show the table</button>
</div>



</body>
</html>
